sdk/src/main/xsd/ScoutRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C schema generated by XMLSpy v2007 sp2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="match">
		<xs:complexType>
			<xs:attribute name="matchid" type="xs:long" use="required"/>
			<xs:attribute name="feedtype" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="delta"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="loginname">
		<xs:complexType>
			<xs:attribute name="value" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="login">
		<xs:complexType>
			<xs:all>
				<xs:element ref="credential"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="credential">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="loginname"/>
				<xs:element ref="password"/>
				<xs:element ref="clientversion" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="password">
		<xs:complexType>
			<xs:attribute name="value" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="clientversion">
		<xs:complexType>
			<xs:attribute name="value" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="logout">
		<xs:complexType/>
	</xs:element>
	<xs:element name="ct">
		<xs:complexType/>
	</xs:element>
	<xs:element name="servertime">
		<xs:complexType/>
	</xs:element>
	<xs:element name="matchlist">
		<xs:complexType>
			<xs:sequence>
				<xs:choice>
					<xs:element name="sport" minOccurs="0" maxOccurs="unbounded">
						<xs:complexType>
							<xs:attribute name="sportid" type="xs:long"/>
						</xs:complexType>
					</xs:element>
					<xs:element name="match" minOccurs="0" maxOccurs="unbounded">
						<xs:complexType>
							<xs:attribute name="matchid" type="xs:long"/>
						</xs:complexType>
					</xs:element>
				</xs:choice>
			</xs:sequence>
			<xs:attribute name="hoursforward" type="xs:int" use="required"/>
			<xs:attribute name="hoursback" type="xs:int" use="required"/>
			<xs:attribute name="includeavailable" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="yes"/>
						<xs:enumeration value="no"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="matchstop">
		<xs:complexType>
			<xs:attribute name="matchid" type="xs:int" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="bookmatch">
		<xs:complexType>
			<xs:attribute name="matchid" type="xs:long" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="matchsubscription">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="match" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>