sdk/src/main/xsd/ScoutRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="match">
		<xs:complexType>
			<xs:attribute name="matchid" type="xs:long" use="required"/>
			<xs:attribute name="feedtype" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="delta"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="loginname">
		<xs:complexType>
			<xs:attribute name="value" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="login">
		<xs:complexType>
			<xs:all>
				<xs:element ref="credential"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="credential">
		<xs:complexType>
			<xs:sequence>
				<xs:choice>
					<!-- Option 1: loginname + password -->
					<xs:sequence>
						<xs:element ref="loginname"/>
						<xs:element ref="password"/>
					</xs:sequence>
					<!-- Option 2: jwttoken only -->
					<xs:element ref="jwttoken"/>
					<!-- Option 3: ssotoken only -->
					<xs:element ref="ssotoken"/>
				</xs:choice>
				<xs:element ref="clientversion" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="jwttoken">
		<xs:complexType>
			<xs:attribute name="value" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ssotoken">
		<xs:complexType>
			<xs:attribute name="value" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="password">
		<xs:complexType>
			<xs:attribute name="value" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="clientversion">
		<xs:complexType>
			<xs:attribute name="value" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="logout">
		<xs:complexType/>
	</xs:element>
	<xs:element name="ct">
		<xs:complexType/>
	</xs:element>
	<xs:element name="servertime">
		<xs:complexType/>
	</xs:element>
	<xs:element name="matchlist">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="match" maxOccurs="unbounded" minOccurs="0">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="matchid" type="xs:long" use="required"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="sport" maxOccurs="unbounded" minOccurs="0">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="sportid" type="xs:int" use="required"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="hoursforward" type="xs:int" use="required"/>
			<xs:attribute name="hoursback" type="xs:int" use="required"/>
			<xs:attribute name="requestid" type="xs:string"/>
			<xs:attribute name="includeavailable">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="yes"/>
						<xs:enumeration value="no"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="matchstop">
		<xs:complexType>
			<xs:attribute name="matchid" type="xs:long" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="bookmatch">
		<xs:complexType>
			<xs:attribute name="matchid" type="xs:long" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="matchsubscription">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="match" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="matchunsubscription">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="match" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>